@font-face {
    src: url(babyblocks/baby\ blocks.ttf);
    font-family: babyBlocks;
}

#clock {
    border-radius: 50%;
	height: 30rem;
	width: 30rem;
    border: blue 20px solid;
    margin: auto;
}

#inner-clock {
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

#hour-hand {
    width: 150px;
    height: 10px;
    left: 50%;
    top: 280px;
    background-color: black;
    position: absolute;
    transform-origin: left;
    transform: rotate(90deg);
    border-radius: 7.5px;
}

#minute-hand {
    width: 200px;
    height: 10px;
    background-color: black;
    left: 50%;
    top: 280px;
    position: absolute;
    background-color: black;
    transform-origin: left;
    transform: rotate(90deg);
    border-radius: 7.5px;
}

#second-hand {
    background-color: black;
    position: absolute;;
    width: 210px;
    height: 7.5px;
    top: 280px;
    left: 50%;
    transform-origin: left;
    transform: rotate(90deg);
    border-radius: 7.5px;
}

html {
    background-color: #DBF9FC;
    top: 50%;
}

body {
    top: 50%;
}

#text {
    padding-top: 20%;
    text-align: center;
    font-family: babyBlocks;
}
